/*NAVBAR */
#navbar {
  background-color: black;
  position: fixed;
  height: auto;
  z-index: 1;
}

#navigation {
  position: fixed;
}

.navitem {
  white-space: nowrap;
  width: 5rem;
}
/*NAVBAR END*/

/*FEATURE*/
#feature img {
  max-width: 300px;
  max-height: 600px;
}
/*FEATURE END*/

/*FOOTER*/
footer {
  background-color: black;
}

#footercontainer {
  width: 90%;
}

#floatingInputGrid {
  height: 50%;
}

#submit {
  height: 52%;
}
/*FOOTER END*/

/*RESPONSIVE*/
@media (max-width: 630px) {
  #navbar {
    background-color: black;
    position: fixed;
    z-index: 1;
  }
}

@media screen and (max-width: 1000px) {
  #benefice img {
    width: 75%;
    height: 75%;
  }
}

@media all and (max-width: 480px) {
  .container text-white {
    width: auto;
    height: auto;
  }
}

@media all and (min-width: 480px) and (max-width: 780px) {
  .container text-white {
    width: auto;
    height: auto;
  }
}

@media all and (min-width: 780px) and (max-width: 979px) {
  .container text-white {
    width: auto;
    height: auto;
  }
}
/*RESPONSIVE*/
